.ipynb_checkpoints/
.env
content/tifs/
content/masks/
content/predictions/
content/1950-corridors/
notebooks/models_train/
notebooks/tboard_tutorial/
notebooks/tmp_checkpoints/
QGIS
*.pyc
*.pkl
*.csv
content/drive-download-20240411T141526Z-001/Copy of os-intersect-clip.zip
content/drive-download-20240411T141526Z-001/Copy of os-intersect-clip/os-intersect-clip.cpg
content/drive-download-20240411T141526Z-001/Copy of os-intersect-clip/os-intersect-clip.dbf
content/drive-download-20240411T141526Z-001/Copy of os-intersect-clip/os-intersect-clip.prj
content/drive-download-20240411T141526Z-001/Copy of os-intersect-clip/os-intersect-clip.sbn
content/drive-download-20240411T141526Z-001/Copy of os-intersect-clip/os-intersect-clip.sbx
content/drive-download-20240411T141526Z-001/Copy of os-intersect-clip/os-intersect-clip.shp
content/drive-download-20240411T141526Z-001/Copy of os-intersect-clip/os-intersect-clip.shx
content/drive-download-20240411T141526Z-001/Copy of os-intersect-clip/os-intersect-clip.xml
